-
  var arrayOfObjects = [
    {
      "pic": "pic1",
      "title": "title 1",
      "message": "lorem lkjdfslkjsdfsdf"
    },
    {
      "pic": "pic2",
      "title": "title 2",
      "message": "lorem lkjdfslkjsdfsdf"
    },
    {
      "pic": "pic3",
      "title": "title 3",
      "message": "lorem lkjdfslkjsdfsdf"
    },
    {
      "pic": "pic4",
      "title": "title 4",
      "message": "lorem lkjdfslkjsdfsdf"
    },
    {
      "pic": "pic5",
      "title": "title 5",
      "message": "lorem lkjdfslkjsdfsdf"
    }
  ]
