extends ../layouts/default.jade

block content

	- var pages = ["array-page", "array-objects", "array-mixins"]
	ul.row.align-spaced
		each page in pages
			li.column: a(href="/arrays/#{page}.html", target="_blank") #{page}